<table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin:0px auto;">
	<tbody>
				<tr>
					<td class="fusionResponsiveCanvas" valign="top" style='width:100%;padding-top:15px;padding-bottom:15px;font-family:Arvo, serif;'>
						<table cellpadding="0" cellspacing="0" border="0" data-fusion-class="LogoContainer" style="width:100%;margin:0px auto;">
							<tbody>
								<tr>
									<td valign="top" style="width:100%;">
										<table class="fusionResponsiveContent" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:0px auto;width:600px;table-layout:fixed;background-color:rgb(255,255,255);">
											<tbody>
												<tr><td><h1>Welcome!</h1></td></tr>

												<tr><td><h2>Your account on Austin EMS Association's Shift Request app is now active.</h2></td></tr>

												<tr><td>You can access Shift Request using a browser at <a href="<%= ENV['FRONT_URL'] %>"><%= ENV['FRONT_URL'] || 'https://shifts.austinemsa.org' %></a></td></tr>
												<tr><td style="padding-top: 20px; text-align: center">OR</td></tr>
												<tr>
													<td style="background-color:rgb(255,255,255);padding:17px 8px;border-color:transparent;border-width:0px;border-style:none;">
														<table class="fusionResponsiveContent" cellspacing="0" cellpadding="0" border="0" style="width:100%;table-layout:fixed;">
															<tbody>
																<tr>
																	<th class="fusionResponsiveColumn" style="mso-line-height-rule:exactly;width:8px;line-height:0;font-size:0px;">
																		<!--[if !mso]><!--><img src="https://ui.icontact.com/assets/1px.png" class="css-fisw11" width="1" border="0" style="display: block;"><!--<![endif]-->
																	</th>
																	<th valign="top" class="fusionResponsiveColumn" data-fusion-class="" style="width:568px;background-color:transparent;padding:0px;border-color:transparent;border-style:none;border-width:0px;transition:all 0.2s ease 0s;">
																		<div data-aqa="block-image" style="overflow:hidden;">
																			<table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
																				<tbody>
																					<tr>
																						<td class="null" style="padding:0px 0px 20px;">
																							<table align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;width:30%;">
																								<tbody>
																									<tr>
																										<td style="border-color:rgb(240,240,240);border-style:none;border-width:3px;">
																											<a href="https://play.google.com/store/apps/details?id=org.austinEmsa.shiftRequest" style=""><img src="https://lh3.googleusercontent.com/cjsqrWQKJQp9RFO7-hJ9AfpKzbUb_Y84vXfjlP0iRHBvladwAfXih984olktDhPnFqyZ0nu9A5jvFwOEQPXzv7hr3ce3QVsLN8kQ2Ao=s0" class="fusionResponsiveImage" alt="Get it on Google Play" width="164" height="auto" style="display:block;width:164px;height:auto;margin:auto;background-color:transparent;" title="Get it on Google Play"></a>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																		<div data-fusion-class="" style="overflow:hidden;padding:0px;">
																			<table cellpadding="0" cellspacing="0" border="0" data-fusion-class="" style="width:100%;margin:0px auto;">
																				<tbody>
																					<tr>
																						<td valign="top" style="width:100%;">
																							<table class="fusionResponsiveContent" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="margin:0px auto;width:568px;table-layout:fixed;background-color:transparent;">
																								<tbody>
																									<tr>
																										<td style="background-color:transparent;padding:0px;border-color:transparent;border-width:0px;border-style:none;">
																											<table class="fusionResponsiveContent" cellspacing="0" cellpadding="0" border="0" width="100%" style="table-layout:fixed;">
																												<tbody>
																													<tr>
																														<th valign="top" class="fusionResponsiveColumn" data-fusion-class="" style="width:100%;background-color:transparent;padding:0px;border-color:transparent;border-style:none;border-width:0px;transition:all 0.2s ease 0s;">
																															<div data-aqa="block-image" style="overflow:hidden;">
																																<table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
																																	<tbody>
																																		<tr>
																																			<td class="fusionResponsiveImageTable" style="padding:0px;">
																																				<table align="center" cellpadding="0" cellspacing="0" border="0" style="margin:auto;">
																																					<tbody>
																																						<tr>
																																							<td style="border-color:transparent;border-style:none;border-width:0px;">
																																								<a href="https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/freeProductCodeWizard?code=<%= @user.redemption_codes.first.code %>" style=""><img src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-preferred.png" class="fusionResponsiveImage" alt="Download on the App Store" width="160" height="auto" style="display:block;width:160px;height:auto;margin:auto;background-color:transparent;" title="Download on the App Store"></a>
																																							</td>
																																						</tr>
																																					</tbody>
																																				</table>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																															</div>
																															<table cellpadding="0" cellspacing="0" style="width:100%;">
																																<tbody>
																																	<tr>
																																		<td>
																																			<div data-fusion-class="" style="margin:10px;padding:0px;border-color:transparent;border-width:0px;border-style:none;background-color:transparent;display:block;font-family:Arvo, serif;font-size:15px;text-align:left;">
																																				<p style="text-align:center;margin-top:0px;margin-bottom:0px;">
																																					<span style="font-size:12px;">(The button should just work, but if not, use code </span> <strong style="font-size:12px;color:rgb(243, 139, 126);"><%= @user.redemption_codes.first.code %></strong> <span style="font-size:12px;"> <a href="https://hayhouse.zendesk.com/hc/en-us/articles/115014498788-How-Do-I-Redeem-Promo-Codes-for-iTunes-App-Store-">like a gift card</a> to get it from the app store. This code can only be used once.)</span>
																																				</p>
																																			</div>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</th>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
